<div >
  <aside >
    <div >
      <div >
        <h3 ><%= @crew.name %></h3>
      </div>
        <!--  <% if @crew.image? %>
            <%= image_tag @crew.image %>
          <% else %>
            <%= image_tag("/images/icon/icon-mama-02-160px.png") %>
          <% end %>
      </div>  -->
  </aside>
  <p>社員番号 <%= @crew.crew_number %></p>
  <% if @crew.age.present? %>
    <p>年齢<%= @crew.age %></p>
  <% end %>
  <p><%= @crew.sex %></p>
  <p>メールアドレス <%= @crew.email %></p>
  <p>パスワード <%= @crew.password_confirmation %></p>
</div>

<p><%= link_to '編集', edit_crew_path(@crew) %></p>
<p><%= link_to "削除", crew_path(@crew), :method => :delete %></p>

<%= link_to '一覧へ', "/crews/index" %>
