<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OJT Manager</title>
</head>
<body>
    <header>
        <div class="header-logo">OJT Manager</div>
    </header>

<%= form_for(@sirabasu) do |form| %>
    <div class="content">
        <div class="background-box">
        <div class="content-area">
            <div class="content-title-input">
                <p>シラバス作成</p>
                <p><%= form.number_field :number ,:placeholder =>"章番号"%></p>
                <%= form.text_field :name ,:placeholder => "項目名"%>
            </div>

            <div class="text-area">
              <%= form.text_area :content, :class =>"text-area", :size =>"80×15"%>
            </div>
            <div class="link-button">
             <%= form.submit "登録", :class =>"link-button"%>
            </div>
        </div>
        </div>
    </div>
<% end %>
<%= link_to 'Back', "/sirabasus" %>

    <footer>
        <div class="footer-logo">OJT Manager</div>
    </footer>
</body>
</html>
