<%= form_for(@sirabasu) do |form| %>
    <div class="content">
        <div class="background-box">
            <div class="content-area">
                <div class="content-title-input">
                    <p>シラバス作成</p>
                    <p>
                        <%= form.number_field :number ,:readonly => true,:placeholder =>"章番号" ,:value => "#{@new_num}" %>
                    </p>
                    <%= form.text_field :name ,:placeholder => "項目名"%>
                </div>
                <div class="text-area">
                    <%= form.text_area :content, :class =>"text-area", :size =>"80×15"%>
                </div>
                <div class="link-button">
                    <%= form.submit "登録", :class =>"link-button"%>
                </div>
            </div>
        </div>
    </div>
    <% end %>
        <%= link_to 'Back', "/sirabasus" %>