<h1>
 管理者情報
</h1>

<p>
  名前 <%=current_kanrisya.name%>
</p>

<p>
  社員番号 <%=current_kanrisya.crew_number%>
</p>

<p>
  年齢 <%=current_kanrisya.age%>
</p>

<p>
  性別 <%=current_kanrisya.sex%>
</p>

<p>
  メール <%=current_kanrisya.email%>
</p>

<p>
  <%= link_to 'アカウントの編集', edit_kanrisya_registration_path %>
</p>

<p>
  <%= link_to 'Back', '/kanri/kanri_top' %>
</p>
