<h1>
 管理者トップページ
</h1>

<p> ログインしている管理ユーザー →<%= link_to current_kanrisya.name,'/kanri/kanri_user' %></p>

<p>
  <%= link_to 'シラバス作成', '/sirabasus' %>
</p>
<p>
  <%= link_to 'チェックリスト作成', '/checklists/choose_sirabasus' %>
</p>
<p>
  <%= link_to '全体の進捗確認', '/crews/index' %>
</p>

<p><%= link_to('Logout', destroy_kanrisya_session_path, :method => :delete) %></p>
