<h1>
 管理者トップページ
</h1>
  ログインしている管理ユーザー →
<% @kanrisyas.each do |kanrisya| %>
  <td> <%= kanrisya.name %></td>
<% end %>

<p>
  <%= link_to 'シラバス作成', '/sirabasus' %>
</p>
<p>
  <%= link_to 'チェックリスト作成', '/checklists/choose_sirabasus' %>
</p>
<p>
  <%= link_to '全体の進捗確認', '/crews/index' %>
</p>

<p><%= link_to('Logout', destroy_kanrisya_session_path, :method => :delete) %></p>
